// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// -*-*-*-*-*-*-*-*-*-*-*-*-* GLOBAL VALUES *-*-*-*-*-*-*-*-*-*-*-*-*-*
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// 
// Provide default values to ensure we are starting from a known position
// for all the main elements. It contains the differences between the
// mobile and desktop versions (eventually).
//
// Note that this file is not included as a CSS file in the final theme
// style folder. It exists only as a means to set up variables and functions
// in the SCSS environment.
//
// Also note that all the following definitions must start with the
// keyword "func" to ensure that they do not clash with any inbuilt
// variables. 
//
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// -*-*-*-*-*-*-*-*-*-*-*- GLOBAL FUNCTIONS/MIXINS -*-*-*-*-*-*-*-*-*-*
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// 
// Global mixin definitions to save repeating definitions supporting
// older browsers.

@mixin func-transition ( $trans... ) {
   -moz-transition: $trans;
   -webkit-transition: $trans;
   -o-transition: $trans;
   transition: $trans;
}

@mixin func-box-shadow ( $shadow... ) {
   -moz-box-shadow: $shadow;
   -webkit-box-shadow: $shadow;
   -o-box-shadow: $shadow;
   box-shadow: $shadow;
}

@mixin func-box-radius ( $radius... ) {
   -moz-border-radius: $radius;
   -webkit-border-radius: $radius;
   -o-border-radius: $radius;
   border-radius: $radius;
}

@mixin func-grid-box-background ( $imgURL, $imgOpacity ) {
   background: url( $imgURL );
   opacity: $imgOpacity;
   // For IE8 and earlier
   filter: alpha( opacity= $imgOpacity*100 );
}
