// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// -*-*-*-*-*-*-*-*-*-*-* COMMON GLOBAL VALUES -*-*-*-*-*-*-*-*-*-*-*-*
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// 
// Provide default values to ensure we are starting from a known position
// for all the main elements. These value are common to both the mobile
// and the tablet/desktop environments. _globals.scss will eventually
// contain the diferences.
//
// Note that this file is not included as a CSS file in the final theme
// style folder. It exists only as a means to set up variables and functions
// in the SCSS environment.
//
// Also note that all the following definitions must start with the
// keyword "paloose" to ensure that they do not clash with any inbuilt
// variables. 
//
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

@import "commonGlobals.scss";

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// The body panel holds the contents of each page.

$paloose-body-panel-colour: #999FB0;
$paloose-body-font-family: Verdana, Arial, 'Helvetica Neue', Helvetica;
$paloose-body-font-size: 12px;
 
$paloose-content-text-color: #66766D;

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// The top panel holds the banner and menus.

$paloose-top-panel-colour: #999FB0;
$paloose-top-panel-font-family: Verdana, Arial, 'Helvetica Neue', Helvetica;
$paloose-top-panel-font-size: $paloose-body-font-size;
$paloose-top-panel-height: 110px;

$paloose-menu-panel-height: 22px;

$paloose-contents-background: #E8E5DC;
$paloose-contents-line-height: 18px;

$paloose-copyright-panel-height: 18px;
$paloose-copyright-line-height: $paloose-contents-line-height;
$paloose-copyright-font-size: $paloose-body-font-size;

$paloose-index-page-right-column: 300px;

$paloose-box-shadow: rgba(0, 0, 0, 0.496094) 0px 0px 15px;
$paloose-box-radius: 5px;

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// FAQ page.

// Divides contents and items
$paloose-faq-bottom-border-color: #56554a;
$paloose-faq-bottom-border: 1px solid $paloose-faq-bottom-border-color;

$paloose-faq-contents-text-color: #610012;
$paloose-faq-contents-text-size: 90%;
$paloose-faq-contents-text-weight: bold;

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// General paragraph text extras.

$paloose-para-link-decoration: none;
$paloose-para-link-weight: bold;
$paloose-para-link-colour: $paloose-content-text-color;
$paloose-para-link-hover-colour: #610012;

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// Breadcrumb ion documentation.

$paloose-breadcrumb-background: $paloose-contents-background;
$paloose-breadcrumb-text-colour: $paloose-content-text-color;
$paloose-breadcrumb-font-size: 12px;
$paloose-breadcrumb-line-height: $paloose-contents-line-height;
$paloose-breadcrumb-link-hover-colour: #610012;

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// Headings.

$paloose-heading-1-font-size: 18px;
$paloose-heading-1-font-style: italic;
$paloose-heading-1-font-weight: normal;
$paloose-heading-1-text-colour: #56554a;

$paloose-heading-2-font-size: $paloose-heading-1-font-size * 0.8 ;
$paloose-heading-2-font-style: italic;
$paloose-heading-2-font-weight: normal;
$paloose-heading-2-text-colour: $paloose-heading-1-text-colour;

$paloose-heading-3-font-size: $paloose-heading-1-font-size * 0.6;
$paloose-heading-3-font-style: italic;
$paloose-heading-3-font-weight: normal;
$paloose-heading-3-text-colour: $paloose-heading-1-text-colour;

$paloose-heading-font: Georgia, "Times New Roman", Times, serif;

