// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// -*-*-*-*-*-*-*-*-*-*-* COMMON GLOBAL VALUES -*-*-*-*-*-*-*-*-*-*-*-*
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// 
// Provide default values to ensure we are starting from a known position
// for all the main elements. These value are common to both the mobile
// and the tablet/desktop environments. _globals.scss will eventually
// contain the diferences.
//
// Note that this file is not included as a CSS file in the final theme
// style folder. It exists only as a means to set up variables and functions
// in the SCSS environment.
//
// Also note that all the following definitions must start with the
// keyword "rng" to ensure that they do not clash with any inbuilt
// variables. 
//
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

@import "commonGlobals.scss";

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// Background colours etc (teal)

$rng-hue: 179;
$rng-saturation: 32%;

$rng-serif-font-family: Georgia, Times, serif;
$rng-sans-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$rng-mono-font-family: Monaco, Courier, monospaced;

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// The body panel holds the contents of each page.

$rng-body-width: 800px;
$rng-body-panel-colour: white;

$rng-body-text-colour: black;
$rng-body-text-size : 12px;

$rng-body-font-family: $rng-sans-font-family;
$rng-body-text-style: normal;
$rng-body-text-weight: normal;

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// The description panel.

$rng-description-title-font-size: $rng-body-text-size  * 1.3;
$rng-description-creator-font-size: $rng-body-text-size  * 1.2;
$rng-description-date-font-size: $rng-body-text-size  * 1.1;
 
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// Headers.

$rng-h1-font-size: $rng-body-text-size * 1.3;
$rng-h1-padding-top: 10px;
$rng-h1-border-top: 2px solid black;

$rng-h2-font-size: $rng-body-text-size * 1.2;
$rng-h2-padding-top: 6px;
$rng-h2-border-top: 1px solid black;

$rng-h3-font-size: $rng-body-text-size;
$rng-h3-padding-top: 0px;
$rng-h3-border-top: 0px none $rng-body-panel-colour;

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// Warning Boxes.

$rng-warning-panel-text-colour: red;
$rng-warning-panel-text-size: 100%;
$rng-warning-panel-text-weight: normal;
$rng-warning-panel-text-style: italic;
$rng-warning-panel-text-family: $rng-serif-font-family;

$rng-warning-panel-border: 1px solid red;
$rng-warning-panel-border-top: 4px solid red;
$rng-warning-panel-border-right: $rng-warning-panel-border;
$rng-warning-panel-border-bottom: $rng-warning-panel-border;
$rng-warning-panel-border-left: $rng-warning-panel-border;

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// Rule Panels.

$rng-rule-panel-colour: hsl($rng-hue, $rng-saturation, 90%);
$rng-rule-panel-text-size: 100%;
$rng-rule-panel-text-weight: normal;
$rng-rule-panel-text-style: italic;
$rng-rule-panel-text-family: $rng-serif-font-family;
$rng-rule-panel-text-colour: inherit;
$rng-rule-panel-gap: 4px;

$rng-rule-title-panel-colour:  hsl($rng-hue, $rng-saturation, 70%);
$rng-rule-title-panel-text-size: 100%;
$rng-rule-title-panel-text-weight: bold;
$rng-rule-title-panel-text-style: italic;
$rng-rule-title-panel-text-family: inherit;

$rng-rule-panel-border: 1px solid $rng-rule-title-panel-colour;

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

// Switch button.

$rng-rule-switch-colour: hsl($rng-hue, $rng-saturation, 95%);
$rng-rule-switch-box-radius: 3px;

$rng-rule-switch-text-size: 90%;
$rng-rule-switch-text-weight: normal;
$rng-rule-switch-text-style: normal;
$rng-rule-switch-text-family: inherit;
$rng-rule-switch-text-colour: inherit;

$rng-rule-switch-text-vertical-offset: 1px;

$rng-rule-switch-top-gap: 2px; 
$rng-rule-switch-bottom-gap: 2px; 
$rng-rule-switch-right-gap: 5px; 
$rng-rule-switch-width: 50px; 
$rng-rule-switch-height: 16px - $rng-rule-switch-text-vertical-offset;  

$rng-rule-title-panel-height: $rng-rule-switch-top-gap + $rng-rule-switch-height + $rng-rule-switch-bottom-gap + $rng-rule-switch-text-vertical-offset + 5px;

$rng-rule-switch-padding-top: $rng-rule-title-panel-height;   // 2px top and bottom gap

$rng-rule-title-top-gap: $rng-rule-switch-top-gap + 3px; 
$rng-rule-title-bottom-gap: 2px; 
$rng-rule-title-left-gap: 5px; 

// Indented blocks vary in height
$rng-rule-first-block-top-margin: 10px; 
$rng-rule-first-block-bottom-margin: $rng-rule-first-block-top-margin; 
$rng-rule-first-block-left-margin: 15px; 

$rng-rule-indented-block-top-margin: 1px; 
$rng-rule-indented-block-bottom-margin: $rng-rule-indented-block-top-margin; 
$rng-rule-indented-block-left-margin: $rng-rule-first-block-left-margin; 

$rng-rule-indented-block-text-size: 10px; 

