// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// -*-*-*-*-*-*-*-*-*-*-* COMMON GLOBAL VALUES -*-*-*-*-*-*-*-*-*-*-*-*
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// 
// Provide default values to ensure we are starting from a known position
// for all the main elements. These value are common to both the mobile
// and the tablet/desktop environments. _globals.scss will eventually
// contain the diferences.
//
// Note that this file is not included as a CSS file in the final theme
// style folder. It exists only as a means to set up variables and functions
// in the SCSS environment.
//
// Also note that all the following definitions must start with the
// keyword "schematron" to ensure that they do not clash with any inbuilt
// variables. 
//
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

@import "commonGlobals.scss";

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
// Background colours etc (teal)

$schematron-hue: 0;
$schematron-saturation: 0;

$schematron-serif-font-family: Georgia, Times, serif;
$schematron-sans-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$schematron-mono-font-family: Monaco, Courier, monospaced;

$schematron-text-colour: green;

$schematron-block-background-colour: hsl( $schematron-hue, $schematron-saturation, 92%);
$schematron-block-border-colour: $schematron-text-colour;
$schematron-block-border: 1px solid $schematron-block-border-colour;

$schematron-text-style: italic;

$schematron-title-style: normal;
$schematron-title-weight: bold;

$schematron-pattern-style: normal;
$schematron-Xpath-style: normal;
$schematron-Xpath-size: 90%;

