//
//  RNG Output Styles Styles
//  Author: Hugh Field-Richards
//  Email: hsfr@hsfr.org.uk
//
//  -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
//  -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
//  Date                   Who        Changes
//  ==========================================================================
//  7th December 2020      HSFR       Converted to SCSS format
 
@import "rngGlobals.scss";

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
//
//  Default document styles

body {
   color: $rng-body-text-colour;
   font:{
      family: $rng-body-font-family;
      size: $rng-body-text-size;
   }
   background-color: $rng-body-panel-colour;
   margin: 10px 10px 10px 10px;
   padding: 10px 10px 10px 10px;
   width: $rng-body-width;
   
   p {
      padding:  0px 0px 5px 0px;
      margin: 0px;
 
      font: {
         style: $rng-body-text-style;
         size: $rng-body-text-size;
         weight: $rng-body-text-weight;
         family: $rng-body-font-family;
      }
   }
 
}

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

.mainDescription {
   padding: 5px 0px 5px 0px;

   #title {
      border: 0px;
      margin: 5px 0px 0px 0px;
      font-size: $rng-description-title-font-size;
   }
   
   #creator {
      border: 0px;
      margin: 5px 0px 0px 0px;
      font-size: $rng-description-creator-font-size;
   }
   
   #date {
      border: 0px;
      margin: 5px 0px 0px 0px;
      font-size: $rng-description-date-font-size;
   }

}

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

h1 {
   border: {
      top: $rng-h1-border-top;
   }
   padding-top: $rng-h1-padding-top;
   font-size: $rng-h1-font-size;
}

h2 {
  border: {
      top: $rng-h2-border-top;
   }
   padding-top: $rng-h2-padding-top;
   font-size: $rng-h2-font-size;
}

h3 {
   border {
      top: $rng-h3-border-top;
   }
   padding-top: $rng-h3-padding-top;
   font-size: $rng-h3-font-size;
}

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* WARNING PANELS -*-*-*-*-*-*-*-*-*-*-*-* */
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

.anyWarning {
   width: 90%;
   text-align: justify;
   padding: 5px 5px 5px 5px;
   margin: 10px 10px 10px 0px;
   color: $rng-warning-panel-text-colour;
   
   font: {
      style: $rng-warning-panel-text-style;
      size: $rng-warning-panel-text-size;
      weight: $rng-warning-panel-text-weight;
      family: $rng-warning-panel-text-family;
   }
   
   border: {
     top: $rng-warning-panel-border-top;
     right: $rng-warning-panel-border-right;
     bottom: $rng-warning-panel-border-bottom;
     left: $rng-warning-panel-border-left;
   }
   
   p {
      padding: 0px;
      margin: 0px;
      font: {
         style: inherit;
         size: inherit;
         weight: inherit;
         family: inherit;
      }
  }
 
}

// Inline warning within the rules.

.warning {
   color: $rng-warning-panel-text-colour;
   font: {
      style: $rng-warning-panel-text-style;
      size: $rng-warning-panel-text-size;
      family: $rng-warning-panel-text-family;
   }
}

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-* RULE TITLE PANEL -*-*-*-*-*-*-*-*-*-*-*-* */
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

.primaryRule {
   display: block;
   position: relative;
   padding: 0px;
   margin: {
      bottom: $rng-rule-panel-gap;
   }
   
   border: $rng-rule-panel-border;
   color: inherit;
   background-color: $rng-rule-panel-colour;
   
   & > .primaryTitle {
      padding: 0px;
      margin: 0px;
      background-color: $rng-rule-title-panel-colour; 
      height: $rng-rule-title-panel-height;
      
      font: {
         style: $rng-rule-title-panel-text-style;
         size: $rng-rule-title-panel-text-size;
         family: $rng-rule-title-panel-text-family;
         weight: $rng-rule-title-panel-text-weight;
       }
       
      .primaryTitle-left {
         float: left;
             margin: {
               top: $rng-rule-title-top-gap;
               left: $rng-rule-title-left-gap;
               bottom: $rng-rule-title-bottom-gap;
            }
            }
      
      .primaryTitle-right {
         float: right;
         
         .rawButton:after {
            font-size: 90%;
            content: "XML";
         }
         
         .prettyButton:after {
            font-size: 90%;
            content: "Pretty";
         }

        .switchButton {
            color: $rng-rule-switch-text-colour;
            background-color: $rng-rule-switch-colour;
            width: 50px;
            height: $rng-rule-switch-height;

            &:hover {
               background-color: #f5f5dc;
               cursor: pointer;
            }

            @include func-box-radius( $rng-rule-switch-box-radius );
            font: {
               size: $rng-rule-switch-text-size;
               weight: $rng-rule-switch-text-weight;
               style: $rng-rule-switch-text-style;
               family: $rng-rule-switch-text-family;
            }
            text-align: center;
            vertical-align: middle;

            margin: {
               top: $rng-rule-switch-top-gap;
               right: $rng-rule-switch-right-gap;
               bottom: $rng-rule-switch-bottom-gap;
            }
            
            padding: {
               top: 3px;
               right: 0px;
               bottom: 2px;
               left: 0px;
            }
         }
      }
   }
  
  .indentedBlock {
      display: block;
      font-size: $rng-rule-indented-block-text-size;
      margin: {
         top: $rng-rule-indented-block-top-margin;
         bottom: $rng-rule-indented-block-bottom-margin;
         left: $rng-rule-indented-block-left-margin;
      }   
      visibility: visible;

      .ruleTag {
         font-family: $rng-mono-font-family;
         color: blue;
         font: {
            weight: bold;
            style: italic;
         }
      }
      
      .ruleName {
         font-family: $rng-mono-font-family;
         color: red;
         font: {
            weight: bold;
         }
      }
      
      .ruleRef {
         font-family: $rng-mono-font-family;
         color: red;
         font: {
            style: italic;
         }
         
         a {
            color: purple;
            text-decoration: none;
            
            &:hover {
               text-decoration: underline;
            }
         }
      }
      
      .ruleType {
         font-family: $rng-mono-font-family;
         color: red;
         font: {
            style: italic;
         }      }
      
      .ruleAttribs {
         font-family: $rng-mono-font-family;
         color: black;
         font: {
            style: italic;
         }      }
      
      .ruleText {
          font: {
            style: italic;
         }
      }
   }
   
   // First child in rules definition
   & > .indentedBlock {
      display: block;
      font-size: $rng-rule-indented-block-text-size;
      margin: {
         top: $rng-rule-first-block-top-margin;
         bottom: $rng-rule-first-block-bottom-margin;
         left: $rng-rule-first-block-left-margin;
      }
      visibility: visible;
   }
   
   div.rawXML {
      display: none;
      margin-left: 15px;
      visibility: visible;
   }

}

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
// -*-*-*-*-*-*-*-*-*-*-*-*-*-* OUTSIDE TITLE PANEL *-*-*-*-*-*-*-*-*-*-*-* */
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

.primaryTitle {
   padding: 3px 0px 3px 5px;

   margin-bottom: 3px;
   background-color: $rng-rule-panel-colour; 
   border: $rng-rule-panel-border;
   
   font: {
      style: $rng-rule-title-panel-text-style;
      size: $rng-rule-title-panel-text-size;
      family: $rng-rule-title-panel-text-family;
      weight: $rng-rule-title-panel-text-weight;
    }
    
    p {
       margin: 0px;
       padding: 0px;
    }
}

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

.ruleDescription {
   padding: 0px 0px 0px 0px;
   margin: 5px 0px 5px 0px;
   background-color: #ececec;
}

.enumerations {
   font-size: 100%;
   color: green;
}

.string {
   font-size: 100%;
   color: green;
}

.QName {
   font-size: 100%;
   color: green;
}

.footers {
   border-top: 1px solid black;
   border-left: 1px solid black;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
   margin: 5px 0px 0px 0px;
   font-family: Georgia, Times, serif;
}

.footerTitles {
   background-color: black;
   color: white;
   font-weight: bold;
   font-style: italic;
   font-size: 100%;
   padding: 0px 0px 0px 5px;
}

.dates {
   margin: 0px 0px 0px 0px;
}

.footerCell {
   border-top: 1px solid black;
   border-left: 1px solid black;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
   margin: 2px 0px 2px 5px;
   padding: 0px 0px 0px 0px;
}

.footerData {
   margin: 2px 0px 2px 5px;
   padding: 0px 0px 0px 0px;
}

.dateEvent {
   font-weight: bold;
}

.copyrightPanel {
   margin: 10px 0px 0px 0px;
}
