//
//  Schematron Output Styles Styles
//  Author: Hugh Field-Richards
//  Email: hsfr@hsfr.org.uk
//
//  -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
//  -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
//  Date                   Who        Changes
//  ==========================================================================
//  7th December 2020      HSFR       Converted to SCSS format

@import "schematronGlobals.scss";

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
//
//  Default document styles

.schematronBlock {
   margin: 5px 10px 10px 15px;
   padding: 2px;
   background-color: $schematron-block-background-colour;
   border: $schematron-block-border;
   font-style: $schematron-text-style;

   .schematronTitle {
      font: {
         weight: $schematron-title-weight;
         style: $schematron-title-style;
      }
      color: $schematron-text-colour;
   }
   
   .schematronPattern {
      font-style: $schematron-pattern-style;
   }
   
   .schematronPatternName {
      font-style: $schematron-text-style;
   }
   
   .schematronRules {
      font-style: $schematron-text-style;
      margin: 0px 0px 0px 15px;
   }
   
   .schematronAsserts {
      font-style: $schematron-text-style;
      margin: 0px 0px 0px 15px;
   }
   
   .schematronXPath {
      font: {
         size: $schematron-Xpath-size;
         style: $schematron-Xpath-style;
         family: $schematron-mono-font-family;
      }
   }
   
   .schematronText {
      color: $schematron-text-colour;
      font: {
         // size: 100%;
         style: $schematron-text-style;
         family: $schematron-serif-font-family;
      }
   }

}