//
//  Paloose Site Styles
//  Author: Hugh Field-Richards
//  Email : hsfr@hsfr.org.uk
//
 
@import "palooseGlobals.scss";

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
//
//  General Text for Paloose site


/* Watch that the order of each group is not changed */

p.normalPara {
   padding: 10px 0px 0px 0px;

   li.listItem & {
      margin: 0px;
      padding: 2px 0px 0px 0px;
   }
   
   a:link {
      color: $paloose-para-link-colour;
      text-decoration: $paloose-para-link-decoration;
      font-weight: $paloose-para-link-weight;
   }
   
   a:active {
      color: $paloose-para-link-colour;
      text-decoration: $paloose-para-link-decoration;
      font-weight: $paloose-para-link-weight;
   }
   
   a:visited {
      color: $paloose-para-link-colour;
      text-decoration: $paloose-para-link-decoration;
      font-weight: $paloose-para-link-weight;
   }
   
   a:hover {
      color: $paloose-para-link-hover-colour;
      text-decoration: none;
      font-weight: $paloose-para-link-weight;
   }
}

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

div.returnToTop {
   
   a:link {
     color: $paloose-para-link-colour;
     text-decoration: $paloose-para-link-decoration;
     font-weight: $paloose-para-link-weight;
   }
   
   a:active {
      color: $paloose-para-link-colour;
      text-decoration: $paloose-para-link-decoration;
      font-weight: $paloose-para-link-weight;
   }
   
   a:visited {
      color: $paloose-para-link-colour;
      text-decoration: $paloose-para-link-decoration;
      font-weight: $paloose-para-link-weight;
   }
   
   a:hover {
      color: $paloose-para-link-hover-colour;
      text-decoration: $paloose-para-link-decoration;
      font-weight: $paloose-para-link-weight;
   }
}

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

li {
   a:link {
      color: $paloose-para-link-colour;
      text-decoration: $paloose-para-link-decoration;
      font-weight: $paloose-para-link-weight;
   }
   
   a:active {
      color: $paloose-para-link-colour;
      text-decoration: $paloose-para-link-decoration;
      font-weight: $paloose-para-link-weight;
   }
   
   a:visited {
      color: $paloose-para-link-colour;
      text-decoration: $paloose-para-link-decoration;
      font-weight: $paloose-para-link-weight;
   }
   
   a:hover {
      color: $paloose-para-link-hover-colour;
      text-decoration: $paloose-para-link-decoration;
      font-weight: $paloose-para-link-weight;
   }
}

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */

a {
   &:link {
      color: $paloose-para-link-colour;
      text-decoration: $paloose-para-link-decoration;
      font-weight: $paloose-para-link-weight;
   }
   
   &:active {
      color: $paloose-para-link-colour;
      text-decoration: $paloose-para-link-decoration;
      font-weight: $paloose-para-link-weight;
   }
   
   &:visited {
      color: $paloose-para-link-colour;
      text-decoration: $paloose-para-link-decoration;
      font-weight: $paloose-para-link-weight;
   }
   
   &:hover {
      color: $paloose-para-link-hover-colour;
      text-decoration: $paloose-para-link-decoration;
      font-weight: $paloose-para-link-weight;
   }
}

// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
// -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
//
//  Headings
//
// The active links are important as they stop the link behaviour on heading anchors.

.heading-1 {
   font-size: $paloose-heading-1-font-size;
   margin: 15px 0px 0px 0px;
   font-family:$paloose-heading-font;
   font-weight: $paloose-heading-1-font-weight;
   font-style: $paloose-heading-1-font-style;
   color: $paloose-heading-1-text-colour;
   
   a:active {
      color:$paloose-heading-1-text-colour;
      text-decoration: $paloose-para-link-decoration;
   }
}

.heading-2 {
   padding:10px 0px 0px 0px;
   font-size: $paloose-heading-2-font-size;
   font-family: $paloose-heading-font;
   font-weight: $paloose-heading-2-font-weight;
   font-style:$paloose-heading-2-font-style;
   color:$paloose-heading-2-text-colour;
 
   div.heading-2 a:visited {
     color:$paloose-heading-2-text-colour;
     text-decoration: $paloose-para-link-decoration;
   }

}

.heading-3 {
   padding: 8px 0px 0px 0px;
   font-size: $paloose-heading-3-font-size;
   font-family: $paloose-heading-font;
   font-style: $paloose-heading-3-font-style;
   color: $paloose-heading-3-text-colour;
   
   div.heading-3 a:hover {
      color: $paloose-heading-3-text-colour;
      text-decoration: underline;
   }
}

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/*
  Foreign words
 */

.foreignWord {
   font-style: italic;
}
/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/*
  Inline code fragments
 */

.code-dir {
   font-family: Monaco, Courier, monospace;
   font-style: normal;
}

.code-var {
   font-style: italic;
}

.code-tag {
   font-family: Monaco, Courier, monospace;
   font-style: normal;
}
/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/*
  Emphasized Text
 */

.weakEmph {
   font-style: italic;
}

.normalEmph {
   font-weight: bold;
}

.strongEmph {
   font-style: italic;
   font-weight: bold;
   color: purple;
}
/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/*
  Quoted Text
 */

.paraQuote {
   text-align: left;
   font-size: 100%;
   font-style: italic;
   padding: 5px 15px 2px 15px;
}

.charQuote {
   font-style: italic;
}

.whoQuote {
   text-align: right;
   font-size: 100%;
   padding: 0px 10px 2px 15px;
}

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/*
  General Text
 */

.topTitleCell {
   border: 1px solid blue;
   padding: 5px;
   color: #000000;
   background-color: #cccccc;
}

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/*
  General Text
 */

.noteTitle {
   text-align: center;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 120%;
   font-weight: bold;
   width:80%;
   border-top: solid 2px #66766d;
   border-bottom: solid 0px #66766d;
   border-left: solid 2px #66766d;
   border-right: solid 2px #66766d;
   width:80%;
   margin: 15px auto 0px;
   padding: 5px 15px 5px 15px;
   color:#66766d;
   background-color:#d2cab5;
}

.noteNote {
   text-align: left;
   font-size: 100%;
   width:80%;
   margin: 0px auto 20px;
   padding: 5px 15px 5px 15px;
   border-top: solid 2px #66766d;
   border-bottom: solid 2px #66766d;
   border-left: solid 2px #66766d;
   border-right: solid 2px #66766d;
   color:#66766d;
   background-color:#d2cab5;
}

div.noteNote span.stringEmph {
   font-style: italic;
   font-weight: bold;
   color: white;
}
/* Next two are important as they stop the link behaviour on heading anchors */

div.noteNote a:link {
   color:white;
   text-decoration: none;
   font-weight: bold;
}

div.noteNote a:active {
   color:white;
   text-decoration: none;
   font-weight: bold;
}

div.noteNote a:visited {
   color:white;
   text-decoration: none;
   font-weight: bold;
}

div.noteNote a:hover {
   color:white;
   text-decoration: underline;
   font-weight: bold;
}

.warningTitle {
   text-align: center;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 120%;
   font-weight: bold;
   width:80%;
   margin: 15px auto 0px;
   padding: 5px 15px 5px 15px;
   color:#ffffff;
   background-color:#610012;
}

.warningNote {
   text-align: left;
   font-size: 100%;
   width:80%;
   margin: 0px auto 20px;
   padding: 5px 15px 5px 15px;
   color:#ffffff;
   background-color:#56554a;
}

div.warningNote span.stringEmph {
   font-style: italic;
   font-weight: bold;
   color: white;
}
/* Next two are important as they stop the link behaviour on heading anchors */

div.warningNote a:link {
   color:white;
   text-decoration: none;
   font-weight: bold;
}

div.warningNote a:active {
   color:white;
   text-decoration: none;
   font-weight: bold;
}

div.warningNote a:visited {
   color:white;
   text-decoration: none;
   font-weight: bold;
}

div.warningNote a:hover {
   color:white;
   text-decoration: underline;
   font-weight: bold;
}

.returnToTop {
   text-align: right;
   font-style: italic;
}

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/*
  Verbatim Text
 */

.verbatimTable {
   text-align: left;
   width: 95%;
   margin: 0px auto 0px;
}

.verbatimTitle {
   font-family: Georgia, "Times New Roman", Times, serif;
   margin-bottom: 5px;
   font-size: 9pt;
   font-style: italic;
   font-weight: bold;
}

.verbatimCode {
   white-space: pre;
   font-family: Monaco, Courier, monospace;
   background-color: white;
   color: #66766d;
   border: 1px gray dotted;
   padding: 5px 4px 5px 0px;
}

.verbatimCode span.addition {
   font-style: italic;
   color: black;
}

.verbatimCode span.deletion {
   font-style: italic;
   color: red;
}

.verbatimCode span.commandEntry {
   font-weight: bold;
}
