/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/*

	Default User Error Page Style
	=============================

	Authors:
		Name  : Hugh Field-Richards, Ian Field-Richards
		Email : hsfr@hsfr.org.uk, ifr@sevenseventyfour.com

-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

   Version   Date                   Who        Changes
   ==========================================================================

   0.00-0    8th May 2005           HSFR       Created

   To Do :
   ==========================================================================

*/

/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
/* -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* */
	
body {
	background-color: #d2cab5;
	color: #000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	vertical-align: top;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
}

pre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.messageTable {
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
}

.messageTableLeft {
}

.messageTableRight {
}

.pageHeading {
	font-size: 24px;
	border-bottom: 1px solid black;
}

.errorTypeHeading {
   width: 100px;
	font-weight: bold;
}

.errorType {
	font-style:italic;
}

.errorMessageHeading {
	font-weight: bold;
}

.errorMessage {
	font-style:italic;
}

.errorContextHeading {
	font-weight: bold;
}

.errorContext {
	font-style:italic;
}

